<h2 class='align-items-center bg-secondary text-center p-2 text-white'>Create New User</h2>

<form class="form user-form d-flex flex-column align-items-center">
  <div class="form-group d-flex flex-column align-items-center">
    <label class='fw-bolder' for="email-login">Name:</label>
    <input class="form-input m-1" type="text" id="name-create" />
  </div>
  <div class="form-group d-flex flex-column align-items-center">
    <label class='fw-bolder' for="email-login">email:</label>
    <input class="form-input m-1" type="email" id="email-create" />
  </div>
  <div class="form-group d-flex flex-column align-items-center">
    <label class='fw-bolder' for="password-login">password:</label>
    <input class="form-input m-1" type="password" id="password-create" />
  </div>
  <div class="form-group d-flex flex-column align-items-center">
    <button class="btn btn-primary m-1" type="submit">Submit</button>
  </div>
    <a class='text-black text-decoration-none' href="/">Cancel</a>
</form>


<script src="./js/createUser.js"></script>