<div class='container-fluid d-flex flex-column align-items-center'>
  <h2>New Blog</h2>
  <a href="/">Home</a>

  <form class="form blogForm d-flex flex-column align-items-center">
  <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-input m-2" type="text" id="title" />
  </div>
  <div class="form-group">
    <label for="content">Content:</label>
    <input class="form-input m-2" type="text" id="content" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary m-2" type="submit">Submit new blog.</button>
  </div>
</form>



</div>
  




<script src="/js/createBlog.js"></script>
