<div class='container-fluid d-flex flex-column align-items-center'>
  <h2>Delete Blog</h2>
  <a href="/">Home</a>

  <form class="form blogForm d-flex flex-column align-items-center">
  <div class="form-group">
    <label for="title">Blog Id:</label>
    <input class="form-input m-2" type="number" id="id">
  </div>

  <div class="form-group">
    <button class="btn btn-primary m-2" type="submit">Delete blog.</button>
  </div>
</form>



</div>
  




<script src="/js/deleteBlog.js"></script>
