<h2 class='align-items-center bg-secondary text-center p-2 text-white'>Login</h2>

<form class="form login-form d-flex flex-column align-items-center">
  <div class="form-group d-flex flex-column align-items-center">
    <label class='fw-bolder' for="email-login">email :</label>
    <input class="form-input m-1" type="text" id="email-login" />
  </div>
  <div class="form-group d-flex flex-column align-items-center">
    <label class='fw-bolder' for="password-login">password :</label>
    <input class="form-input m-1" type="password" id="password-login" />
  </div>
  <div class="form-group d-flex flex-column align-items-center">
    <button class="btn btn-primary m-1" type="submit">login</button>
  </div>
      <a class='text-black text-decoration-none' href="/">Cancel</a>
</form>


<script src="./js/login.js"></script>