<div>
    <span>This is the login page</span>

    {{!- need form to submit existing user information if exists --}}

    {{!-- need form to create a new user if needed--}}

</div>

<script src="./js/login.js"></script>