/* Style sheet for view. */


.blogPostsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100vw;
}

.blogPost {
    outline: solid black 5px;
    padding: 5px;
    margin: 5px;
}

.blogTitle {
    outline: solid grey 3px;
    padding: 3px;
    margin: 3px;
}

.blogContent {
    outline: solid grey 3px;
    padding: 3px;
    margin: 3px;
}

.blogComments {
    outline: solid grey 3px;
    padding: 3px;
    margin: 3px;
}